@import 'variables';
@import 'transitions';
@import 'common';


body {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;

}


body {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    height: 100%;
    width: 100%;
}